body {
    background-color: rgb(13, 6, 20);
    color: antiquewhite;

}

h1 {
    text-align: center;
    font-size: 40pt;
}

p {
    text-align: center; 
}

.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin: 50px auto;
    padding: 50px 0px;
    width: 50%;
    border: 10px solid rgb(153, 110, 46);
    background-color: rgb(40, 24, 24);
    
}

.std-img {
    width: 44%;
}

.small-paragraph {
    margin: 100px auto;
    padding: 15px 15px;
    text-align: left;
    width: 33%;
    background-color: rgb(40, 24, 24);
    border: 3px solid rgb(153, 110, 46);
    color:antiquewhite;
    font-size: 15pt;
    line-height: 150%;
}

a:link {
    color: goldenrod;
}
a:visited {
    color: rgb(213, 72, 72);
}